@import "tailwindcss";




@keyframes wave-ring {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.wave-ring {
  position: absolute;
  border-radius: 9999px;
  border: 2px solid #ef4444; /* red-500 */
  background-color: #ef4444;
  animation: wave-ring 1.8s infinite ease-out;
}


